/* Style sheet for index.html styles
* Author: R. Wood; */

/* GENERAL STYLES */

main {
	margin-top: 25px;
}

/* HEADER STYLES */

.header {
	background-color: #F0BD35;
	margin-top: -25px;
	padding: 20px 0 10px;
}

.header p {
	margin-top: -10px;
	padding-left: 5px;
}



/* PICTURE PANEL STYLES */

.pic-panel {
	border: 1px solid #C0C0C0;
	margin: 10px 0;
}

.pic-panel img {
	width: 100%;
}

.pic-info {
	margin-left: 15px;
}